:root {
  --bs-body-bg: #121212 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.conformidade {
  font-size: 0.85rem !important;
}

.zulzinho {
  background-color: #e2e7f7 !important;
}

.circulo {
  width: 70px !important;
  height: 70px !important;
}

.circulozinho {
  width: 40px !important;
  height: 40px !important;
}
.fundo {
  background-color: #f8f8f8 !important;
}

#uploadContainer {
  border: dashed;
}
.hover {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.2);
}

.cursor-pointer {
  cursor: pointer;
}

