/* src/styles/_variables.scss */

$light-bg: #fff;
$light-primary: #0D6EFD;
$light-text: #131313;
$light-text-secondary: #606060;

$dark-bg: #131313;
$dark-primary: #0D6EFD;
$dark-text: #FFF;
$dark-text-secondary: #393f44;

/* Variáveis que serão usadas em todo o site */
:root {
  --bg: #{$light-bg};
  --primary: #{$light-primary};
  --text: #{$light-text};
  --text-secondary: #{$light-text-secondary};
}

[data-theme="dark"] {
  --bg: #{$dark-bg};
  --primary: #{$dark-primary};
  --text: #{$dark-text};
  --text-secondary: #{$dark-text-secondary};
}
